.resultsdone {
    display: grid;
    grid-template-areas:
        'date date'
        'table charts'
        'btn arrows';
    grid-template-columns: minmax(200px, 500px) 700px;
    justify-content: center;
    position: relative;
}